<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="host02" class="com.company.boot.bean.Host">
        <property name="name" value="小王"></property>
        <property name="age" value="19"></property>
    </bean>
    <bean id="cat" class="com.company.boot.bean.Pet">
        <property name="name" value="小花"></property>
    </bean>
</beans>